:root {
	--box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	--btn-backgroud-color: lightcoral;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.header {
	text-align: center;
}

.header__title {
	font-size: 40px;
}

.main {
	margin: 2em;
}

.btn-input {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1.2em;
	font-size: 1.5em;
}

.canvas {
	display: block;
	width: 100rem;
	height: 40rem;
	margin-right: auto;
	margin-left: auto;
	border: 2px dashed black;
	background-size: cover;
	box-shadow: var(--box-shadow);
}

.link {
	display: block;
	width: 16rem;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 1.2em;
	font-size: 1.4em;
	text-decoration: none;
	color: black;
	background-color: var(--btn-backgroud-color);
	border-radius: 10px;
	padding: 0.9em;
	box-shadow: var(--box-shadow);
	transition: all 0.3s;
	font-weight: 700;
}

.link:hover {
	transform: scale(1.1);
}

.link--disabled {
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
}

@media only screen and (max-width: 1000px) {
	.header__title {
		font-size: 30px;
	}
	.canvas {
		width: 50rem;
		height: 30rem;
	}
}
